.row-fluid
  = semantic_form_for "", url: properties_path, :html => {:method => :get} do |f|
    .row-fluid
      .smallselect.span4
        .selectmask
          = f.input :type_of_property, :as => :select, :label => false, :collection => options_for_select(['Todos','Luxury Properties', 'Urban Properties', 'Commercial Properties', 'Desarollos Inmobiliarios', 'Campos Country-Clubs'], 'Luxury Properties')
      .smallselect.span2
        .selectmask
          = f.input :country, :as => :select, :label => false, :collection => options_for_select(['Todos', 'Argentina', 'Uruguay', 'USA'],'Todos'), :input_html => {:class =>'drop'}
      .smallselect.span3#arg
        .selectmask
          = f.input :location, :as => :select, :label => false, :collection => options_for_select(["Todos","CABA", "Zona Norte", "Gran Buenos Aires", "Interior del País"], 'Todos'), :input_html => {:class =>'drop'}
      .smallselect.spa34#uru
        .selectmask
          = f.input :location, :as => :select, :label => false, :collection => options_for_select(["Todos","Punta del Este", "Montevideo", "Otras"], 'Todos'), :input_html => {:class =>'drop'}
      .smallselect.span3#usa
        .selectmask
          = f.input :location, :as => :select, :label => false, :collection => options_for_select(["Todos","Miami", "New York", "Otras"], 'Todos'), :input_html => {:class =>'drop'}
      .smallselect.span2
        .selectmask
          = f.input :type_of_operation, :label => false, :as => :select, :collection => options_for_select(["Todos", "Venta", "Alquiler", "Desarrollos"], 'Todos'), :input_html => {:class =>'drop'}
      .span1.applyfilters
        = f.button :Buscar

.row-fluid.container
  - @properties.each do |property|
    .span4
      = link_to(property_path(property)) do
        .item
          .ph 
            - if image = property.images.first
              = image_tag(image.file.url(:large))
          %h5 #{property.name}
          .line
          %p $24.000.-
          .bottomDetail
            %h4 Ver detalle +