.row-fluid.propicons
  %ul
    %li
      = link_to('', properties_path(:type_of_property => 'Luxury Properties'), :class => 'luxury')
      %h4 Luxury
      %h4 Properties
    %li
      = link_to('', properties_path(:type_of_property => 'Urban Properties'), :class => 'urban')
      %h4 Urban
      %h4 Properties
    %li
      = link_to('', properties_path(:type_of_property => 'Commercial Properties'), :class => 'commercial')
      %h4 Commercial
      %h4 Properties
    %li
      = link_to('', properties_path(:type_of_property => 'Campos Country-Clubs'), :class => 'campos')
      %h4 Campos &
      %h4 Country-Clubs
    %li
      = link_to('', properties_path(:type_of_property => 'Desarollos Inmobiliarios'), :class => 'developments')
      %h4 Desarollos
      %h4 Inmobiliarios
  = semantic_form_for "", url: properties_path, :html => {:method => :get} do |f|
    .row-fluid
      = f.input :type_of_property, :as => :hidden, :input_html => {:value => @type_of_property}
      .smallselect.span3
        .selectmask
          = f.input :country, :as => :select, :include_blank => false, :label => false, :collection => options_for_select(['Seleccione el pais','Todos los paises', 'Argentina', 'Uruguay', 'USA'],'Seleccione el pais'), :input_html => {:class =>'drop'}
      .smallselect.span3#arg
        .selectmask
          = f.input :location, :as => :select, :include_blank => false, :label => false, :collection => options_for_select(["Seleccione el barrio","Todos los barrios","CABA", "Zona Norte", "Gran Buenos Aires", "Interior del País"], 'Seleccione el barrio'), :input_html => {:class =>'drop'}
      .smallselect.spa34#uru
        .selectmask
          = f.input :location, :as => :select, :include_blank => false, :label => false, :collection => options_for_select(["Seleccione el barrio","Todos los barrios","Punta del Este", "Montevideo", "Otras"], 'Seleccione el barrio'), :input_html => {:class =>'drop'}
      .smallselect.span3#usa
        .selectmask
          = f.input :location, :as => :select, :include_blank => false, :label => false, :collection => options_for_select(["Seleccione el barrio","Todos los barrios","Miami", "New York", "Otras"], 'Seleccione el barrio'), :input_html => {:class =>'drop'}
      .smallselect.span4
        .selectmask
          = f.input :type_of_operation, :include_blank => false, :label => false, :as => :select, :collection => options_for_select(["Seleccione tipo de operacion","Todas las operaciones", "Venta", "Alquiler", "Desarrollos"], 'Seleccione tipo de operacion'), :input_html => {:class =>'drop'}
      .span1.applyfilters
        = f.button :Buscar
.row-fluid.container
  - @properties.each do |property|
    .span4
      = link_to(property_path(property)) do
        .item
          .ph 
            - if image = property.images.first
              = image_tag(image.file.url(:large))
          %h5 #{property.name}
          .line
          %p $24.000.-
          .bottomDetail
            %h4 Ver detalle +
= @country
= @location
= @type_of_operation
:javascript
  $(function() {
    / alert(#{@location});
    / $("select#location option[value='#{@location}']").attr("selected","selected");
  });
