.row-fluid
  .row-fluid
    %h1(style="margin-bottom:0;") #{@property.name}
  .row-fluid
    %h5 #{@property.address}
    = render "sliderShow"
.row-fluid
  .span4
    %h2 Detalles
    %ul
      %li.first  Tipo de propiedad: #{@property.latitude}
      -if defined? @covered and @uncovered
        %li superficie: #{@covered + @uncovered}
        %li superficie2: #{@property.covered_square_meters}
        %li  Cant. Habitaciones: #{@property.rooms}
        %li  Cant. Baños: #{@property.bathrooms}
  .span4
    %h2 Detalles
    %ul
      %li.first  Tipo de propiedad: #{@property.latitude}
      -if defined? @covered and @uncovered
        %li superficie: #{@covered + @uncovered}
        %li superficie2: #{@property.covered_square_meters}
        %li  Cant. Habitaciones: #{@property.rooms}
        %li  Cant. Baños: #{@property.bathrooms}
  .span4
    %h2 Detalles
    %ul
      %li.first  Tipo de propiedad: #{@property.latitude}
      -if defined? @covered and @uncovered
        %li superficie: #{@covered + @uncovered}
        %li superficie2: #{@property.covered_square_meters}
        %li  Cant. Habitaciones: #{@property.rooms}
        %li  Cant. Baños: #{@property.bathrooms}	
.row-fluid
  %h1 Ubicacion
.row-fluid
  %h1 entorno y puntos de interes