.row-fluid
  .row-fluid
    %h1(style="margin-bottom:0;") #{@property.name}
  .row-fluid
    %h5 #{@property.public_address}
  .row-fluid(style="margin-top:30px;")
    = render "sliderShow"
    .span4.detalles
      %h6 Consulta por esta propiedad
      %p
        Envíenos un mensaje si desea recibir mas información sobre esta propiedad.
      = semantic_form_for @message, :url => properties_path(@property) do |f|
        = f.input :property, :as => :hidden, :input_html => {:value => @property.name} 
        = f.input :name, :label => false, :input_html => {:placeholder => "Nombre"}
        = f.input :phone, :label => false, :input_html => {:placeholder => "Teléfono"}
        = f.input :email, :label => false, :input_html => {:placeholder => "E-mail"}
        = f.input :body, :as => :text,:label => false, :input_html => {:placeholder => "Comentarios...", :rows => 4}
        = f.button 'Enviar consulta'
.row-fluid
  %h1(style="margin-top:0px;") Descripción
  %p #{@property.description}
.row-fluid.desc
  .span4
    %h5 Características Generales
    %ul
      -if defined? @covered and @uncovered
        %li Superficie total: #{@covered + @uncovered}
        %li Metros cubiertos: #{@property.covered_square_meters}
        %li Metros descubiertos: #{@property.uncovered_square_meters}
        %li Cant. Habitaciones: #{@property.rooms}
        %li Cant. baños: #{@property.bathrooms}
        %li Cant. toilettes: #{@property.toilette}
        %li Ubicación en planta: #{@property.ubicacion_en_planta}
        %li Estado: #{@property.estado}
        %li Luminosidad: #{@property.luminosidad}
  .span4
    %h5 Caraterísticas del edificio
    %ul
      %li  Categoría: #{@property.categoria}
      %li  Pisos: #{@property.pisos}
  .span4
    %h5 Ambientes
    %ul
      - unless @ambientes.nil?
        - @ambientes.each do |ambiente|
          %li #{ambiente}
.row-fluid.desc
  .span4
    %h5 Servicios
    %ul
      %li Agua caliente: #{@property.agua_caliente}
      %li Calefacción: #{@property.calefaccion}
      %li Aire acondicionado: #{@property.aire_acondicionado}
  .span4
    %h5 Amenities
    %ul
      - unless @amenities.nil?
        - @amenities.each do |amenity|
          %li #{amenity} 
  .span4
    %h5 Entorno y puntos de interés
    %ul
      %li #{@property.puntos_interes}
.row-fluid
  %h1 Ubicacion
  #map_canvas
  
  

:javascript
  myCenter = new google.maps.LatLng(#{@property.latitude}, #{@property.longitude});
  function initialize() {

      var mapOptions = {
        center: myCenter,
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map_canvas"),
          mapOptions);
      var marker=new google.maps.Marker({
        position:myCenter,
      });

      marker.setMap(map);

    }