.row-fluid
  .span6
    %h2 Send us your inquiry
    = semantic_form_for "" do |f| 
      = f.input :name, :label => false, :input_html => {:placeholder => "Name"}
      = f.input :phone, :label => false, :input_html => {:placeholder => "Phone"}
      = f.input :mail, :label => false, :input_html => {:placeholder => "E-mail"}
      = f.input :comments, :as => :text,:label => false, :input_html => {:placeholder => "Comments...", :rows => 4}
      = f.button :Send
  .span6
    %h2 Contact
    .span6
      %h4 BELGRANO
      %p
        Moldes 2276 
        %br
        C1428CRJ - CABA
        %br
        Tel/fax..and lines - 4781-7000 y Rot.
        %br
        info@siangroup.net
    .span6
      %h4(style="margin-top:30px;") NORTHERN AREA
      %p
        San Lorenzo. 807 - La Lucila
        %br
        1636 - Pdo. Vicente López
        %br
        Tel/Fax - 4784-0593 y Rot.
        %br
        info@siangroup.net