.container
	= render "slider"
	.row-fluid
		%h1 SIAN Group
		%p
			SIAN GROUP surge de la unión de varios profesionales  con vasta experiencia en Real Estate en el ámbito nacional e internacional.
			Nos especializamos en la compra, venta y alquiler de casas y departamentos premium.
			Satisfacemos las búsquedas de empresas, embajadas e instituciones que requieran atención personalizada.
			Damos orientación jurídica, financiera y ponemos a disposición de nuestros clientes una amplia agenda de profesionales.
	.row-fluid.propicons
		%ul
			%li
				= link_to('', properties_path(:type_of_property => 'Luxury Properties'), :class => 'luxury')
				%h4 Luxury
				%h4 Properties
			%li
				= link_to('', properties_path(:type_of_property => 'Urban Properties'), :class => 'urban')
				%h4 Urban
				%h4 Properties
			%li
				= link_to('', properties_path(:type_of_property => 'Commercial Properties'), :class => 'commercial')
				%h4 Commercial
				%h4 Properties
			%li
				= link_to('', properties_path(:type_of_property => 'Campos Country-Clubs'), :class => 'campos')
				%h4 Campos &
				%h4 Country-Clubs
			%li
				= link_to('', properties_path(:type_of_property => 'Desarollos Inmobiliarios'), :class => 'developments')
				%h4 Desarollos
				%h4 Inmobiliarios
