.container
	= render "slider"
	.row-fluid
		%h1 SIAN Group
		%p
			SIAN Group rises from the union of several professionals with extensive experience in both local and international Real Estate.  We specialize in purchasing (Br buying), selling and renting premium homes and apartments (Br flats).  We meet the demands of those looking for personal assistance as companies, embassies and other institutions.Also, we provide legal and financial guidance, making a wide contact list of professionals available for our clients.  
	.row-fluid.propicons
		%ul
			%li
				= link_to('', properties_en_index_path(:type_of_property => 'Luxury Properties'), :class => 'luxury')
				%h4 Luxury
				%h4 Properties
			%li
				= link_to('', properties_en_index_path(:type_of_property => 'Urban Properties'), :class => 'urban')
				%h4 Urban
				%h4 Properties
			%li
				= link_to('', properties_en_index_path(:type_of_property => 'Commercial Properties'), :class => 'commercial')
				%h4 Commercial
				%h4 Properties
			%li
				= link_to('', properties_en_index_path(:type_of_property => 'Campos Country-Clubs'), :class => 'campos')
				%h4 Campos &
				%h4 Country-Clubs
			%li
				= link_to('', properties_en_index_path(:type_of_property => 'Desarollos Inmobiliarios'), :class => 'developments')
				%h4 Desarollos
				%h4 Inmobiliarios
