= semantic_form_for @message do |f| 
  = f.input :name, :label => false, :input_html => {:placeholder => "Nombre"}
  = f.input :apellido, :label => false, :input_html => {:placeholder => "Apellido"}
  = f.input :mail, :label => false, :input_html => {:placeholder => "E-mail"}
  = f.button :Enviar