%h1 Properties in #{@neighborhood.name}

.row-fluid
	- (@neighborhood.properties * 27).each do |property|
		.span4
			= link_to(property_path(property)) do
				.item
					.ph 
						- if image = property.images.first
							= image_tag(image.file.url(:large))
					%h5 #{property.name}
					%h5 #{property.neighborhood.name}
					.line
					%p #{property.description.truncate(450)}
					%p $24.000.-