.row-fluid
  .row-fluid
    %h1(style="margin-bottom:0;") #{@property.name}
  .row-fluid
    %h5 #{@property.public_address}
  .row-fluid(style="margin-top:50px;")
    = render "sliderShow"
    .span4.detalles
      %h6 More about this property
      %p
        For more information send us a message.
      = semantic_form_for @message, :url => properties_en_index_path do |f|
        = f.input :property, :as => :hidden, :input_html => {:value => @property.name} 
        = f.input :name, :label => false, :input_html => {:placeholder => "Name"}
        = f.input :phone, :label => false, :input_html => {:placeholder => "Phone"}
        = f.input :email, :label => false, :input_html => {:placeholder => "E-mail"}
        = f.input :body, :as => :text,:label => false, :input_html => {:placeholder => "Comments...", :rows => 4}
        = f.button :Send, :class => 'hidden do-form'
        %input{:type => 'checkbox', :class => 'humancheck'} I'm ready to send this form
.row-fluid
  %h1(style="margin-top:0px;") Description
  %p #{@property.property_description_en}
.row-fluid.desc
  .span4
    %h5 General characteristics
    %ul
      -if defined? @covered and @uncovered
        %li Square meters – Total: #{@covered + @uncovered}
        %li Square meters (Br metres)– indoor space: #{@property.covered_square_meters}
        %li Metros descubiertos: #{@property.uncovered_square_meters}
      %li Rooms: #{@property.rooms}
      %li Bathrooms: #{@property.bathrooms}
      %li Toilets: #{@property.toilette}
      %li Location in ground: #{@property.ubicacion_en_planta}
      %li Condition: #{@property.estado}
      %li Brightness: #{@property.luminosidad}
  .span4
    %h5 Building characteristics
    %ul
      %li Category: #{@property.categoria}
      %li Floors: #{@property.pisos}
  .span4
    %h5 Rooms
    %ul
      - unless @ambientes_en.nil?
        - @ambientes_en.each do |ambiente|
          %li #{ambiente}
.row-fluid.desc
  .span4
    %h5 Facilities
    %ul
      - if @property.agua_caliente == 'si' || @property.agua_caliente == 'Si'
        %li Hot water: Yes
      - else  
        %li Hot water: #{@property.agua_caliente}
      - if @property.calefaccion == 'si' || @property.calefaccion == 'Si' 
        %li Heating: Yes
      - else
        %li Heating: #{@property.calefaccion}
      - if @property.aire_acondicionado == 'si' || @property.aire_acondicionado == 'Si' 
        %li Air Conditioning: Yes
      - else
        %li Air Conditioning: #{@property.aire_acondicionado}
  .span4
    %h5 Amenities
    %ul
      -unless @amenities_en.nil?
        - @amenities_en.each do |amenity|
          %li #{amenity} 
  .span4
    %h5 Points of interest
    %ul
      %li #{@property.puntos_interes_en}
.row-fluid
  %h1 Location
  #map_canvas
.row-fluid.pdfsbox
  - unless @property.documents.empty?
    %h6 Related Documents
    - @property.documents.each do |doc|
      = link_to doc.file_file_name, doc.file.url, target: '_blank'
  

:javascript
  $('.humancheck').click(function(event){
    $('.do-form').toggleClass('hidden');
  });
  myCenter = new google.maps.LatLng(#{@property.latitude}, #{@property.longitude});
  function initialize() {

      var mapOptions = {
        center: myCenter,
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map_canvas"),
          mapOptions);
      var marker=new google.maps.Marker({
        position:myCenter,
      });

      marker.setMap(map);

    }