%footer.footer
  .row-fluid
    .newsletter.span3
      %h4 NEWSLETTER
      =# render 'contact/new' 
      = semantic_form_for Newsletter.new, :url => newsletters_path do |f| 
        = f.input :name, :label => false, :input_html => {:placeholder => "Nombre"}
        = f.input :apellido, :label => false, :input_html => {:placeholder => "Apellido"}
        = f.input :email, :label => false, :input_html => {:placeholder => "E-mail"}
        = f.button :Enviar     
    .barrio.span6
      .span6
        %h4 BELGRANO
        %p
          Moldes 2276 
          %br
          C1428CRJ - CABA
          %br
          Tel/Fax - 4781-7000 y Rot.
          %br
          info@siangroup.net
      .span6
        %h4 ZONA NORTE
        %p
          San Lorenzo. 807 - La Lucila
          %br
          1636 - Pdo. Vicente López
          %br
          Tel/Fax - 4781-7000 y Rot.
          %br
          info@siangroup.net
    .social.span2
      %h4 SOCIAL
      .span12
        .twitter.span1
      .span12
        .facebook.span1
      