%footer.footer
  .row-fluid
    .newsletter.span3
      %h4 NEWSLETTER
      = semantic_form_for "" do |f| 
        = f.input :name, :label => false, :input_html => {:placeholder => "First name"}
        = f.input :apellido, :label => false, :input_html => {:placeholder => "Last name"}
        = f.input :mail, :label => false, :input_html => {:placeholder => "E-mail"}
        = f.button :Send
    .barrio.span6
      .span6
        %h4 BELGRANO
        %p
          Moldes 2276 
          %br
          C1428CRJ - CABA
          %br
          Tel/fax..and lines - 4781-7000 y Rot.
          %br
          info@siangroup.net
      .span6
        %h4 NORTHERN AREA
        %p
          San Lorenzo. 807 - La Lucila
          %br
          1636 - Pdo. Vicente López
          %br
          Tel/Fax - 4781-7000 y Rot.
          %br
          info@siangroup.net
    .social.span2
      %h4 SOCIAL
      .span12
        .twitter.span1
      .span12
        .facebook.span1
      