!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : Settings.site_name
      %meta{:content => content_for?(:description) ? yield(:description) : Settings.site_name , :name => "description"}
      = stylesheet_link_tag "application", :media => "all"
      = javascript_include_tag "application"
      / = javascript_include_tag "bootstrap.min.js"
      = csrf_meta_tags
      = yield(:head)

  %body{:class => "#{controller_name} #{action_name}"}
    #header
      .row-fluid
        = link_to '', root_path, class: 'logo span1'
        .span5(style="margin-left:0px;")
          = link_to 'SIAN Group Properties', root_path, id: 'title'
        .span3(style="float:right")
          .lang
            = link_to 'ENG', root_path
            = link_to 'ESP', root_path, class: 'select'
    .row-fluid
      .nav-collapse.collapse
        = render 'layouts/navigation'
    .row-fluid
      #main{:role => "main", :class => "#{action_name}"}
        - flash.each do |name, msg|
          - if msg.is_a?(String) 
            %div{:class => "alert alert-#{name == :alert ? "error" : "success"}"}
              %a.close{"data-dismiss" => "alert"} ×
              = content_tag :div, msg, :id => "flash_#{name}"
        = yield
    
    %footer.footer
      .container.row-fluid
        .container-inner
          .newsletter.span3
            %h4 NEWSLETTER
            %form
              %input(type="text" placeholder="Nombre")
              %br
              %input(type="text" placeholder="Apellido")
              %br
              %input(type="email" placeholder="E-mail")
              %br
          .barrio.span6
            .barrioInner
              %address
                %h4 BELGRANO
                %p
                  moldes 2276 
                  %br
                  C1428CRJ - CABA
                  %br
                  Tel/Fax - 4781-7000 y Rot.
                  %br
                  info@siangroup.net
            .barrioInner
              %address
                %h4 ZONA NORTE
                %p
                  Carlos Pellegrini 781 P 11
                  %br
                  C1009ABO - CABA
                  %br
                  Tel/Fax - 4784-0593 y Rot.
                  %br
                  info@siangroup.net
              
  
          .social.span2
            %h4 SOCIAL
            .twitter
            .facebook
      