!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : Settings.site_name
      %meta{:content => content_for?(:description) ? yield(:description) : Settings.site_name , :name => "description"}
      = stylesheet_link_tag "application", :media => "all"
      = javascript_include_tag "application"
      = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyAoAqRFSg4SPOGlkeJumobsLgCYKIAAEM0&sensor=false"
      = csrf_meta_tags
      = yield(:head)

  %body{:class => "#{controller_name} #{action_name}", :onload => "initialize()"}
    #header
      .row-fluid
        = link_to '', root_path, class: 'logo span2'
        .span5(style="margin-left:0px;")
          = link_to 'SIAN Group Properties', root_path, id: 'title'
        .span3(style="float:right")
          .lang
            .span12
              - if action_name == 'home_en' || action_name == 'about_us_en' || controller_name == 'properties_en' || action_name == 'contact_us_en'
                = link_to 'ESP', root_path
                = link_to 'ENG', home_en_path, class: 'select'
              - else
                = link_to 'ESP', root_path, class: 'select'
                = link_to 'ENG', home_en_path
            = semantic_form_for "", url: properties_path, :html => {:method => :get} do |f|
              .span7.codebox(style="margin-left:0px;")
                - if action_name == 'home_en' || action_name == 'about_us_en' || controller_name == 'properties_en' || action_name == 'contact_us_en'
                  = f.button :>
                  = f.input :code, :placeholder => "Code"
                - else
                  = f.button :>
                  = f.input :code, :placeholder => "Código"
    .row-fluid
      - if action_name == 'home_en' || action_name == 'about_us_en' || controller_name == 'properties_en' || action_name == 'contact_us_en'
        = render 'layouts/navigation_en'
      - else
        = render 'layouts/navigation'
    .row-fluid
      #main{:role => "main", :class => "#{action_name}"}
        - flash.each do |name, msg|
          - if msg.is_a?(String) 
            %div{:class => "alert alert-#{name == :alert ? "error" : "success"}"}
              %a.close{"data-dismiss" => "alert"} ×
              = content_tag :div, msg, :id => "flash_#{name}"
        = yield
    
    - if action_name == 'home_en' || action_name == 'about_us_en' || controller_name == 'properties_en' || action_name == 'contact_us_en'
      = render 'layouts/footer_en'
    - else
      = render 'layouts/footer'